<h1><%= @header %></h1>

<center>
  <% @array[0].each do |x, y| %>
    <p><%= "#{x.capitalize}: #{y}" %></p>
  <% end %>
  
  <% @array2[0].each do |x, y| %>
    <p><%= "#{x.capitalize}: #{y}" %></p>
  <% end %>
</center>