<h1><%= @header %></h1>

<center>
  <form action="/edit_owner_form">
    
    <p>Serial Number:</p>
    <input type="text" name="serial_num">

    <br><br>
    <input type="submit" value="Submit">
  
  </form>
</center>