<h1><%= @header %></h1>

<center>
  <h3> What do would you like to do?</h3>

  <nav>
    <a href="/check_pet_info">Check Pet Info</a> -
    <a href="#">Edit Pet Info</a> -
    <a href="#">Edit Owner Info</a> -
    <a href="#">Delete Pet Info</a>
  </nav>
</center>
