<h1><%= @header %></h1>

<center>
  <h3> What do would you like to do?</h3>

  <nav>
    <a href="/check_pet_info">Check Pet Info</a> -
    <a href="/edit_pet_info">Edit Pet Info</a> -
    <a href="/edit_owner_info">Edit Owner Info</a> -
    <a href="/delete_pet_info">Delete Pet Info</a>
  </nav>
</center>
