<h1>FINDO</h1>

<center>
  <!-- Findo Serial Number Search -->
  <form action="#">
    
    <p>Serial Number:</p>
    <input type="text" name="serial_num">

    <br><br>
    <input type="submit" value="Submit">
  
  </form>
  <!-- New User/Exisitng User -->
  <br><br>
  <nav>
    <a href="#">New User?</a> - 
    <a href="#"> Exising User</a>
  </nav>
</center>