<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/CSS/style.css" type="text/css"    charset="utf-8">
    <title><%= @title %></title>
  </head>
  
  <body>
    <div id="page-wrap">
      <header>
        <h1><%= @header %></h1>
      </header>
      <%= yield%>
      <br>
      <footer>
        <center>
          <nav class="footer_nav">
            <a href="/">Home</a> - 
            <a href="/coming_soon">About the Company</a> - 
            <a href="/coming_soon">Statistics</a>
          </nav>
        </center>
      </footer>
    </div> <!-- end page-wrap-->
  </body>
</html>