<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/CSS/style.css" type="text/css"    charset="utf-8">
    <title><%= @title %></title>
  </head>
  
  <body>
    <header>
      <h1><%= @header %></h1>
    </header>
    
    <div class="content">
      <div class="content-constrain">
        <%= yield%>
      </div> <!--End content-constrain -->
    </div> <!--End content -->
    
    <footer>
      <nav>
        <ul>
          <li><a href="/">HOME</li>
          <li><a href="/coming_soon">ABOUT</li>
          <li><a href="/coming_soon">STATS</li>
        </ul>
      </nav>
    </footer>
  </body>
</html>