<h1><%= @header %></h1>

<h3>Owner Information</h3>

<form action="/new_user_confirmed">
  <p>Owner Name (first and last):</p>
  <input type="text" name="name">

  <p>Secondary Owner Name:</p>
  <input type="text" name="secondary_owner">

  <p>Phone Number <br> (ex. 4025551234):</p>
  <input type="text" name="phone_num">  
  
  <p>Email Adress <br> (ex. findo@gmail.com):</p>
  <input type="text" name="email">  

  <p>Address:</p>
  <input type="text" name="address">
  
  <p>City:</p>
  <input type="text" name="city">
  
  <p>State:</p>
  <input type="text" name="state">
  
  <p>Zip Code:</p>
  <input type="text" name="zip">
  
  <br><br>
  <input type="submit" value="Submit">
  
</form>