<h1><%= @header %></h1>

<h3>Dog Information</h3>

<form action="/new_info_confirmed">
  <p>Dog Name:</p>
  <input type="text" name="name">

  <p>Breed:</p>
  <input type="text" name="breed">
  
  <p>Age:</p>
  <input type="text" name="age">

  <p>Serial Number: <br> Note: Your serial number is 
  permanent and cannot be changed.</p>
  <input type="text" name="serial_num">  
  
  <p>Colour:</p>
  <input type="text" name="colour"> 

  <p>Description: <br> (List any illnesses, any 
  special notes worth knowing)</p>
  <input type="text" name="description">
    
  <br><br>
  <input type="submit" value="Submit">
  
</form>