<form action="/verify_new_user_and_dog_confirm">
  
  <p>Serial Number of Dog:</p>
  <input type="text" name="serial_num">

  <p>Phone Number of Owner:</p>
  <input type="text" name="phone_num">

  <br><br>
  <input type="submit" value="Submit">

</form>