/* Style for Front page */

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background: #D94E4E;
}

header {
  width: 100%;
  border-bottom: 4px dashed #ffffff;
}

footer {
  width: 100%;
  border-top: 4px dashed #ffffff;
}

.facebook {
  background: #F1F2D8;
  width: 60px;
  height: 40px;
  border-top-left-radius:15px;
  border-top-right-radius:15px;
  display: block-inline;
  float: left;
  margin: 0 1px;
  
}

.constrain {
  height: 40px;
  margin-left: 50px;
}

.content {
  padding: 50px 0;
}

.content-constrain {
  margin: 0 20px;
  /*  max-width: 500px;*/  
}

h1 {
  font-family: "Arial Black";
  color: #ffffff;
  font-size: 72px;
  text-align: center;
  margin: 8px 0;
}

h3 {
  font-family: "Arial";
  font-weight: normal;
  color: #ffffff;
  font-size: 32px;
  padding: 0 0 10px 0;
}

p {
  font-family: "Arial";
  color: #ffffff;
  font-size: 16px;
  line-height: 32px;
}

ul{
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
  background: #D94E4E;
  text-align: center;
  padding: 10px 0;
}

li a{
  width: 100%;
  display: block;
  padding: 2px;
  color: #ffffff;
  font-family: "Arial Narrow";
  text-decoration: none;
}

li:hover {
  background: #b84343;
}

/* Existing Users Nav */

.users_li {
  display: inline-block;
  margin: 0 10px;
}

.users_a {
  color: #ffffff;
  font-family: "Arial";
  text-decoration: none;
  font-size: 16px;
}

li.users_li:hover {
  text-decoration: underline;
  background: none;
}