<center>
  <h3> What do would you like to do?</h3>
  <br>
  <nav>
    <ul>
      <li class="users_li"><a href="/check_pet_info" class="users_a">Check Pet Info</a> </li>
      <li class="users_li"><a href="/edit_pet_info" class="users_a">Edit Pet Info</a> </li>
    </ul>
    <ul>
      <li class="users_li"><a href="/edit_owner_info" class="users_a">Edit Owner Info</a> </li>
      <li class="users_li"><a href="/delete_pet_info" class="users_a">Delete Pet Info</a> </li>
    </ul>
    <ul>
      <li class="users_li"><a href="/new_user_dog" class="users_a">Add a Pet</a> </li>
      <li class="users_li"><a href="/add_temperament" class="users_a">Temperament</a> </li>
    </ul>
  </nav>
</center>
