<center>
  <h3>Found a lost dog?</h3>
  <br><br>
  <form action="/found_pet">

    <p>Serial Number:</p>
    <input type="text" name="serial_num">

    <br><br>
    <input type="submit" value="Submit">
  </form>
  
  <img src="images/findo.png" width="300">
  
  <ul class="users">
    <li class="users_li"><a href="/new_user" class="users_a">New User?</a></li> 
    <li class="users_li"><a href="/existing_user" class="users_a">Exising User</a></li>
  </ul>
</center>



